:root {
    --text-primary-light: #292C3C;
    --background-secondary-light: white;
    --background-primary-light: #f4f2ef;
    --accent-color-light: #2054cc;

    --text-primary-dark: white;
    --background-primary-dark: #292C3C;
    --background-secondary-dark: #383c55;
    --accent-color-dark: #8CAAEE;

    --transition-duration: 0.2s;

    transition: var(--transition-duration) background-color, var(--transition-duration) color;
}

.light-theme {
    --text-primary: var(--text-primary-light);
    --background-primary: var(--background-primary-light);
    --background-secondary: var(--background-secondary-light);
    --accent-color: var(--accent-color-light);
}

.dark-theme {
    --text-primary: var(--text-primary-dark);
    --background-primary: var(--background-primary-dark);
    --background-secondary: var(--background-secondary-dark);
    --accent-color: var(--accent-color-dark);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-primary);
}

a {
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-duration);
}

h1 {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 0;
}