:root {
    --text-color: white;
    --text-color-secondary: grey;
    --background-color: #1c1b1e;
    --accent-color: goldenrod;
    --transition-duration: 0.2s;
}

@font-face {
    font-family: "URW Gothic";
    src: url("./urw-gothic.ttf");
}

html,
body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "URW Gothic", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    height: auto;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
    color: var(--text-color);
    transition: var(--transition-duration);
}